* {
	box-sizing: border-box;
	text-decoration: none;
}

button {
	cursor: pointer;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	text-align: center;
}

.btn-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
